* {
    box-sizing: border-box;
}

body {
    color: #3b3b3b;
    background-color: #E7E4D5;
    margin: 32px;
    padding: 0;
    font-size: 20px;
}

.box {
    margin: 0 auto 16px auto;
    padding: 1em 2em;
    max-width: 1000px;
    background-color: #f4f4f4;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    color: #333333;
}

h2 {
    font-size: 1.1em;
    color: #333333;
}

p {
    line-height: 1.35;
}

fieldset {
    border: none;
}

fieldset ol {
    list-style-type: none;
}

fieldset li {
    margin-bottom: 0.5em;
}

label {
    display: block;
}

pre {
    font-size: 0.8rem;
    overflow: scroll;
}
