{% extends "layout.html" %}
{% block title %}Whoops{% endblock %}
{% block content %}
<h1 class="box">Whoops</h1>

{% if (message is defined) and message %}
<section class="box">
  <h2>Encountered a problem</h2>
  <p>{{ message }}</p>
</section>
{% endif %}

{% if (form_errors is defined) and form_errors %}
<section class="box">
  <h2>Encountered errors parsing the form</h2>
  <ul>
  {% for error in form_errors %}
    <li>{{ error }}</li>
  {% endfor %}
  </ul>
</section>
{% endif %}

{% if (csv_errors is defined) and csv_errors %}
<section class="box">
  <h2>Encountered errors parsing the CSV</h2>
  <ul>
  {% for error in csv_errors %}
    <li>{{ error }}</li>
  {% endfor %}
  </ul>
</section>
{% endif %}
{% endblock %}
